.main-header {
    width: 100%;
    height: 80px;
    background-color: #2e2e2e;
}

.main-header .backgroundcolor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.backgroundcolor.-glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
